.container {
  text-align: center;
  /* padding: 2rem; */
  margin-top: 5%;

}

.nav {
  margin-top: 1rem;
}

.nav a, .nav button {

  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.nav a:hover, .nav button:hover {
  background-color: #005bb5;
}


.main{
  margin-top: 8%;
}