.main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
  }
  
.main h1{
  color: black;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
}

.button:hover {
  background-color: #005bb5;
}

.cartIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  background-color: #0070f3;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.cartIcon span {
  margin-right: 10px;
  font-size: 1.2rem;
}

.cartIcon img {
  width: 24px;
  height: 24px;
}
