.main {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #0071f398;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
  color: black;
  margin-top: 10%;
  margin-bottom: 5%;
}


.orderDetails, .items {
  margin-bottom: 2rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.input {
  width: 50px;
  margin-left: 0.5rem;
  padding: 0.25rem;
  text-align: center;
}

.button, .backButton {
  width: 100%;
  padding: 0.75rem;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
}

.button {
  background-color: #0070f3;
}

.button:hover {
  background-color: #005bb5;
}

.backButton {
  background-color: #6c757d;
  margin-bottom: 1rem;
}

.backButton:hover {
  background-color: #5a6268;
}

.removeButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.removeButton:hover {
  background-color: #cc0000;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.qrcode {
  width: 200px;
  height: 200px;
  margin: 1rem 0;
}

.confirmButton {
  padding: 0.75rem 1.5rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirmButton:hover {
  background-color: #218838;
}
